<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
	<title>Plataformaescenarios\servicos<title>
		<link rel="stylesheet" type="text/css" href="css/menu.css">
		</style>
	</title>
	<body>
		<dvi id="container"> 
	<div id="title">
      <h1> 
        <spam id="title1">LA MEJOR&nbsp;&nbsp;&nbsp;</spam><!-- Si queremos incluir varios
espacios en blanco, debemos de emplear el código de escape &nbsp;-->
        <spam id="title2">EXPERIENCIA</spam>
        <br>
        <spam id="title3" >AUDIOVISUAL</spam>
      </h1>
  </div>
      <hr>
    <div>
        <img src="image\plataforma.jpg" width="30%"> 
  <div>
  <hr>
  <div>
  <h2>
    <ul>
      <mark>
        <li>
        	<a href="#Quienes_somos">
                EXPERIENCIA
                <!--Quienes somos-->
              </a>
            </li>
            <br>
            <li>
            <a href="#inicio">
                INICO
                <!--historia de la compañia-->
              </a>
            </li>
            <br>
            <li>
          <a href="#objetivos">
                OBJETIVOS
                <!--objetivo-->
              </a>
            </li>
            <br>
            <li>
              <a href="#cartera_clientes">
                CARTERA CLIENTES
              </a>
            </li>
            <br>
            <li>
              <a href="('proyecto\precios.htm')l">
                PRODUCTOS
              </a>
            </li>
            <br>
            <li>
              <a href="#servicio">
                SERVICIO
              </a>
            </li>
             <br>
            <li>
              <a href="C:\Users\RUSBEL\Documents\sena\Multimedia\Portafolio Rusbel Gaviria Devia\3.evidencias de aprendizaje\programacion\Proyecto\proyecto\segunda forma\proyecto\contacto.html">
                CONTACTO
              </a>
            </li>
      </ul>
    </mark>
</div>
<div>
      <br>
       <a name="inicio">Inicio</a>
        <p>
          Diseño
          El arte de construir una gran experiancia no solo para el publico sino para nuestros clientes, el cumplimiento de las expectativas, organizadas de la mano de nuestros clientes, siempre en busca de llegar mas allá de lo que usted pudo imaginar.
  </p>
</div>
		<div id="foot">
			<div class="cajasfoot"><span>MENU CORPORATIVO</span>

			</div>
			<div class="cajasfoot"><span>MENU SERVICIOS</span></div>
			<div class="cajasfoot"><span>MENU REDES</span><br><span>SOCIALES</span></div>
		</div>
</body>