<!DOCTYPE html>
<html lang="es">
      <head>
        <meta charset="UTF-8">
         <title>Plataforma escenarios</title>
         <link rel="stylesheet" type="text/css" href="css/contacto.css">
    </head>
    <body>
        <div id="container" class="parrafos">
    <p>
       <div class="contacto">
        <div class="item">
          <label>Nombre usuario:</label>
          </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="nombreusuario"/>
          </div>
        <div class="item">
          <label>Direccion e-mail:</label>
        </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="direccione-mail"/>
          </div>
        <br>
        <br>
        <div class="item">
                <label>Contraseña:</label>
        </div>
        <div class="item">
          <input class="ingresodatos" type="text" name="contraseña"/>
        </div>
  </div>
</p>
  <div>
    <p>
    <div>
          <input class="ingresodatos" type="password" name="pwd"/>
          <input class="ingresodatos" type="url" name='(./proyrcto/formulario.html)'>
     </div>
            </p>
  </div>
  </form>
  </dvi>
  </div>
    </body>
</html>