<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/foot.css"
	>
</head>
<body>
	  <div id="foot">
    <h4>
        <a href="contacto.html">Contacto</a>
        <p>
         Diseño y tecnología para el mundo del espectáculo</P>
        <p>
        Dirección: Calle 78 No. 83 – 26 Bogotá - Colombia</p>
        <P>
        PBX: (571)  800 6717</P>
        <p>Celular: (57) 310 550 6338 / 311 881 6298</p>
        <p>
        Correo: info@plataformaescenarios.com
        </p>
        <p>
        Web: www.plataformaescenarios.com
        </p>
   </h4> 
   <div  class="foot">
  <ul>
      <li><a href="../views/inicio.html">INICIO<!--historia de la compañia--></a></li>
      <li><a href="../views/MISION.html">MISION<!--objetivo--></a></li>
      <li><a href="../views/vision.html">VISION<!--objetivo--></a></li>
      <li><a href="../views/objetivos.html">OBJETIVOS<!--objetivo--></a></li>
      <li><a href="../views\contacto.html">CONTACTO</a></li>      
  </ul>
</div>    
    <div class="foot">
      <ul><li><a href="../index.html">EXPERIENCIA<!--Quienes somos--></a></li>
      <li><a href="../views/precios.htm">PRODUCTOS</a></li>
      <li><a href="../views/servicio.html">SERVICIO</a></li>
      <li><a href="../views/cartera_clientes.html">CARTERA CLIENTES</a></li>
      <li><a href="../views/login.html">ACCESO MIEMBROS</a></li>
    </ul>
</div>
<div  class="footredes">
  <ul>
      <li><a href="http//www.facebook.com" target="_blank">facebook<!--imagen--></a></li>
      <li><a href="http//www.instagram.com" target="_blank">instagram<!--imagen--></a></li>
      <li><a href="http//www.twiter.com" target="_blank">twiter<!--imagen--></a></li>
  </ul>
  </div>
		<p>
			<a href="../frame.html" target="_parent">ir al otro frame 1</a> | 
			<a href="../views/frame2.html" target="_parent">ir al otro frame 2</a>
		</p>
</body>
<html>